.background{
    background-color: rgb(1, 1, 120);
    background-size: cover; 
    

}
.head{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;

}
.para{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    margin-bottom:150px ;
}
#icon{
    color: aliceblue;
    font-size: large;
}
.box1{
    color: rgb(0, 0, 0);
    text-align: center;
    border: 1px solid rgb(167, 167, 167);
    box-shadow: 2px 2px 2px 2px rgb(121, 121, 121);
    padding: 20px 2px 2px 2px;
    border-radius: 5px;

}
.head-top{
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.p-details h4
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: 600;
    font-size: 25px;
   
}
.space-p-page{
    margin-top: 15px;

}
.p-p-details{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-stretch: expanded;
}
.line{
    color: rgb(255, 217, 0);
    font-weight: bolder;
}
.edit{
    width: 80px;
    border-radius: 15px;
    background-color: rgb(9, 57, 120);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: larger;

}
.space{
    margin-top: 30px;
}